h1{
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    text-transform: uppercase;
}

img{
    cursor: auto;
}

#caja{
    background-color: aqua;
    width: 300px;
    height: 400px;
    padding: 15px;
    border: 3px solid black;
    box-sizing: border-box;
}

#caja2{
    background-color: forestgreen;
    width: 300px;
    height: 400px;
    padding: 15px;
    border: 3px solid black;
    box-sizing: border-box;
    margin-left: 80%;
}

.titulos{
    text-align: center;
}